<div class="container">
  <br><br>
  <div class="col-md-8 offset-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Login</h5>
        <hr>
          <div>
            <label for="email">Email :
              <input id="email" class="form-control" [(ngModel)]="email" placeholder="Email" type="email">
            </label>
            <label for="password">Password :
              <input id="password" class="form-control" [(ngModel)]="password" placeholder="Password" type="password">
            </label>
          </div>

          <hr>

          <div class="float-right">
            <button (click)="submit()" class="btn btn-primary">Submit</button>
          </div>
      </div>
    </div>
  </div>
</div>
