<div class="container-fluid under-the-nav">
  <div class="row justify-content-md-center">
    <div class="col-md-6">
      <h4>Login</h4>
      <br>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-md-6">
      <mat-card>
        <mat-form-field class="login-input-full-width">
          <input matInput placeholder="Email" type="email" (change)="setEmail($event.target.value)">
        </mat-form-field>
        <br>
        <mat-form-field class="login-input-full-width">
          <input matInput placeholder="Password" type="password" (change)="setPassword($event.target.value)">
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" (click)="submit()">Submit</button>
      </mat-card>
    </div>
  </div>
</div>
