@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  height: 100%;
}

.text-highlighted {
  color: hsl(120, 58%, 67%);;
}

body {
  font-family: Roboto, Arial, sans-serif;
}

/* useFull classes */

.under-the-nav {
  margin-top: 20px;
}

.spacer {
  flex: 1 1 auto;
}

.green {
  color: limegreen;
}
